<div data-controller="book" data-book-sells="<%= latest_sells(book.id) %>" book-id="<%= book.id %>"  book-name="<%= book.name %>" class="text-white">
    <canvas id="book_chart_<%= book.id %>"  style="width:100%;max-width:700px" ></canvas>
</div>
