<span class="text-white"> Hello World </span>

<div data-controller="days" data-days-sells="<%= sells_per_day %>">
    <canvas data-target="myChart" style="width:10%;max-width:700px"></canvas>
    <canvas data_target="daySells" style="width:10%;max-width:700px">

</div>
<p class="text-white"> <%= sells_per_day %></p>